{% extends 'management/base.html' %}
{% load bootstrap %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'management/base.css'%}">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
      <div class="row">
        {% for instance in object_list %}
        <div class="col-md-2 col-md-6 border shadow gallery-list">
          <a href="{% url 'memory_album:detail' instance.pk %}"><img src="{{ instance.photo.url }}" class="img-thumbnail gallery-image"></a>
          <h6>{{instance.posted_on}}</h6>
          <h6>{{instance.title}}</h6>
          <h6>{{instance.photographer.first_name}} {{instance.photographer.last_name}}</h6>
          <p>{{ instance.description|truncatechars:50 }}</p>
        </div>
      {% endfor %}
      </div>    
    </div>
    {% endblock %}
</body>
</html>



