body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
  }

#main {
  background-size: cover;
  height: 30vh;
}

.logo {
  font-weight: 900;
  font-size: 2rem;
}

.header-main {
  margin-top: 120px;

}

.nav-item {
  font-size: 1rem;
  margin: 0 20px;
}

.header-info {
  font-weight: 900;
  font-size: 3rem;
}

.img.mock {
  width: 200%;
  height: 100px;
}


#profile {
  background-color: #fff;
}



.gallery-image {
    margin-top: 10px;
    width: 500px; /* You can set the dimensions to whatever you want */
    height: 300px;
    object-fit:fill;
    padding: 1px 3px;
}
