{% extends 'management/base.html' %}
{% load bootstrap %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container mt-5 border shadow">
        <div class="row">
            <div class="col-sm mt-5">
                <img src="{{ user.profile.profile_photo.url }}" class="profile-photo">
            </div>
            <div class="col-sm mt-5">
                <h6>{{content.user.username}}</h6>
                <h6>{{user.first_name}} {{user.last_name}}</h6>
                <h6>{{user.email}}</h6>
                <h6>{{user.profile.phone_number}}</h6>
            </div>
        </div>
        <p class="container ml-3 mr-3">{{user.profile.introduction}}</p>
        <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <a href="{% url 'management:updateprofile' %}" class="btn btn-primary btn-lg m-5" role="button" aria-pressed="true">Update</a>
        </form>
        {%if messages%}
        {%for message in messages%}
            <div class="alert alert-{{ message.tags }} mt-2">
            <h6>{{ message }}</h6>
        {% endfor %}
    {% endif %}
    </div>
    {% endblock %}
</body>
</html>



Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis eum maiores sed dolorum rerum assumenda iste sit velit atque? Ad iste recusandae voluptatem sapiente maxime nulla suscipit illum eum.